---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Argonium | Documentation">
    <Title title="Documentation" text="Coming soon" />
    <div class="h-[calc(100vh-300px)]">

    </div>
</Layout>