---
import Button from "../components/Button.astro";
import CopyBox from "../components/CopyBox.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Argonium | CMD made easy">
  <section class="text-white text-center overflow-hidden">
    <div>
      <Title title="CMD Made Easy" text="Use many popular command line commands 39.948 times easier and faster" />
      <div class="mt-4 flex justify-center items-center text-2xl">
        <Button />
        <CopyBox text="npm i argonium -g" />
      </div>
      <div class="flex mt-7 flex-wrap items-center justify-center">
        <p class="w-44">Applications that Argonium makes easier to use in CMD:</p>
        <img class="h-20 m-4 object-contain" src="/frameworks/astro.png" alt="">
        <img class="h-20 m-4 object-contain" src="/frameworks/firebase.png" alt="">
        <img class="h-20 m-4 object-contain" src="/frameworks/github.png" alt="">
        <img class="h-20 m-4 object-contain" src="/frameworks/react.png" alt="">
        <img class="h-20 m-4 object-contain" src="/frameworks/svelte.png" alt="">
        <img class="h-20 m-4 object-contain" src="/frameworks/vue.png" alt="">
      </div>
    </div>
    <div class="h-[calc(100vh-300px)]">

    </div>
  </section>
</Layout>
