<footer class="bg-primary text-white justify-center items-center h-44 mt-10 overflow-x-hidden">
    <div class="flex w-[calc(50%+200px)] absolute left-1/2 -translate-x-1/2 overflow-x-hidden">
        <div class="flex ml-10">
            <section class="mr-14 sm:mr-1 sm:hidden">
                <ul>
                    <h1 class="text-[#aeb0b8]">Pages</h1>
                    <li class="mt-2">
                        <a class="hover:text-gray-400 duration-300" href="/docs">Docs</a>
                    </li>
                    <li class="mt-1">
                        <a class="hover:text-gray-400 duration-300" href="/blog">Blog</a>
                    </li>
                    <li class="mt-1">
                        <a class="hover:text-gray-400 duration-300" href="/">Home</a>
                    </li>
                    <li>
                        soonTM
                    </li>
                </ul>
            </section>
            <section class="mr-14 sm:mr-3">
                <ul>
                    <h1 class="text-[#aeb0b8]">Links</h1>
                    <li class="mt-2">
                        <a class="hover:text-gray-400 duration-300" href="/chat">Discord</a>
                    </li>
                    <li class="mt-1">
                        <a class="hover:text-gray-400 duration-300" href="https://www.github.com/aapelix/argonium">GitHub</a>
                    </li>
                    <li class="mt-1">
                        <a class="hover:text-gray-400 duration-300" href="https://www.npmjs.com/package/argonium">Npm</a>
                    </li>
                    <li class="mt-1">
                        <a class="hover:text-gray-400 duration-300" href="/graphics">Graphics</a>
                    </li>
                    <li class="mt-1">
                        <a class="hover:text-gray-400 duration-300" href="/collaborators">Collaborators</a>
                    </li>

                </ul>
            </section>
            <section class="mr-14 sm:mr-0">
                <ul>
                    <h1 class="text-[#aeb0b8]">Resources</h1>
                    <li class="mt-2">
                        <a class="hover:text-gray-400 duration-300" href="https://astro.build">Astro</a>
                    </li>
                    <li class="mt-1">
                        <a class="hover:text-gray-400 duration-300" href="https://react.dev/">React</a>
                    </li>
                    <li class="mt-1">
                        <a class="hover:text-gray-400 duration-300" href="https://svelte.dev/">Svelte</a>
                    </li>
                    <li class="mt-1">
                        <a class="hover:text-gray-400 duration-300" href="https://firebase.google.com/">Firebase</a>
                    </li>
                    <li class="mt-1">
                        <a class="hover:text-gray-400 duration-300" href="https://vuejs.org/">Vue</a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="ml-auto text-4xl flex flex-wrap sm:flex-col -translate-x-14 overflow-x-hidden"> 
            <a class="hover:text-gray-400 duration-300" href=""><i class="m-5 sm:m-0 fa-brands fa-github"></i></a>
            <a class="hover:text-gray-400 duration-300" href=""><i class="m-5 sm:m-0 fa-brands fa-discord"></i></a>
            <a class="hover:text-gray-400 duration-300" href=""><i class="m-5 sm:m-0 fa-brands fa-npm"></i></a>
        </div>
        
    </div>
</footer>
